

html {
	/* 16px * 62.5% = 10px */
	font-size: 62.5%;
}

body {
	background-color: #222222;
	/* 10px * 1.6rem = 16px */
	font-size: 1.6rem; 
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	width: 100vw;
}

* {
	margin: 0;
	padding: 0;   
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.wrapper {
	max-width: 800px;
	width: 80%;
	margin: 0 auto;
}
