

body {
    background-color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drumKit {
    background-color: #4d4d4d;
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .row {
        width: 100%;
        display: flex;

        .instructions {
            color: #FFFFFF;
            font-weight: normal;
            padding-left: 3%;
        }

        .label,
        .drumBeat {
            background-color: #D0D0D1;
            color: #4d4d4d;
            width: calc(100% / 5);
            border: none;
            margin: 1px; 
            height: 100px;
        }

        // this will have all drum pads aligned with heading
        .label {
            margin-right: 3px;
            margin-left: 0;
        }

        // this will have all drum pads aligned with heading
        .drumBeat:nth-child(5) {
            margin-right: 0;
        }

        .inputKey {
            text-transform: uppercase;
        } 
    }

    .row:nth-child(1) {
        display: flex;
        align-items: center;
        height: 50px;
    }

    // this will have all drum pads aligned with heading
    .row:nth-child(5) .label,
    .row:nth-child(5) .drumBeat {
        margin-bottom: 0;
    }
}

   