body {
    border: 2px black solid;
    background-color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drumKit {
    background-color: #4d4d4d;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.row {
    width: 100%;
    display: flex;
}

.instructions {
    color: #FFFFFF;
    font-weight: normal;
    padding: 3%;
}

.label,
.drumBeat {
    background-color: #858585;
    color: #FFFFFF;
    width: calc(100% / 5);
    border: none;
    margin: 1px; 
    height: 100px;
}

.label {
    margin-right: 3px;
    margin-left: 0;
}

.drumBeat:nth-child(5) {
    margin-right: 0;
}

.row:nth-child(5) .label,
.row:nth-child(5) .drumBeat {
    margin-bottom: 0;
}


.inputKey {
    text-transform: uppercase;
}    

// .drumBeat:active {
//     background-color: #00e3cd;
// }