

@media (max-width: 1060px) {
    .drumKit {
        width: 80vw;
    }
}

@media (max-width: 768px) {

    .drumKit {
        width: 100%;
    }
}

@media (max-width: 400px) {

    .drumKit {
        .row {
            .label,
            .drumBeat {
                background-color: #D0D0D1;
                color: #4d4d4d;
                width: calc(100% / 5);
                border: none;
                margin: 1px; 
                height: 60px;
            }
        }    
    }
}

