

@media (max-width: 700px) {
  .drumKit {
    .visualizer {
      height: 50vh;
    }
  }

  .drumBeat {
    height: 100px;
  }
}


@media (max-width: 544px) {
  .wrapper {
    width: 90%;
  }

  .drumBeat {
    .inputKey {
      display: none;
    }
  }
}


@media (max-width: 480px) {
  .drumKit {
    .visualizer {
      height: 40vh;
    }
  }

  .drumBeat {
    height: 80px;
    border: 4px #222222 solid;
    border-right: 0px #222222 solid;

    .inputDescription {
      font-size: 1.4rem;
    }
  }

  .drumBeat:last-child {
    border: 4px #222222 solid;
  }
}


@media (max-width: 400px) {
  .wrapper {
    width: 95%;
  }

  .drumBeat {
    height: 70px;  
  }
}

